{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
  <h1 class="title">{{ .Site.Title }}</h1>
</div>

<div>
  <p>This website is just a way for me to organise some thoughts about what I am learning in medical school. Sources are primarily <a href="https://www.merckmanuals.com/professional">Merck Manual Professional Version</a> and <a href="https://www.uptodate.com">UpToDate</a>.</p>

  <p>This is NOT medical advice. I am not a physician. If you are require medical advice, please contact a medical provider like your primary care physician. They probably miss you. :'(</p>
</div>

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "illnesses") }}

{{ range $paginator.Pages.ByTitle }}
<div class="illness">
  <h2 class="illness-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>

  <div class="illness-summary">
    {{ .Summary }}
  </div>
</div>
{{ end }}

{{ template "_internal/pagination.html" . }}
{{ end }}
